
<%- include('../shared/header') %>

<main>
    <h1>Voici la liste des contacts : 😊</h1>
    <!-- <div>Todo : Afficher la liste</div> -->
    
    <% for (const contact of contacts) { %>
        <div class="card contact-card">
            <div>
                <p class="font-fam"><span>Nom : </span> <%= contact.lastName %></p>
                <p class="font-fam"><span>Prénom : </span> <%= contact.firstName %></p>
                <p class="font-fam"><span>Email : </span> <%= contact.email %></p>
                <p class="font-fam"><span>Tel : </span> <%= contact.phone %></p>
            </div>
            
            <!-- <div> <%= contact.favori ? '⭐' : '' %></div> -->
            <!-- OU -->
            <% if (contact.favori) { %>
                <div>
                    <!-- <p>⭐</p> -->
                    <img src="/images/star.png" alt="Image d'étoile" >
                </div>
            <% } %>
        </div>        
    <% } %>
    
    <div class="add">
        <a href="/contact/add">Ajouter un contact</a>
    </div>
</main>

<%- include('../shared/footer') %>