
<%- include('../shared/header') %>

<main>
    <h1>Voici la liste des contacts : 😊</h1>
    <!-- <div>Todo : Afficher la liste</div> -->
    
    <% for (const contact of contacts) { %>
        <div class="card">
            <div>
                <p>Nom : <%= contact.lastName %></p>
                <p>Prénom : <%= contact.firstName %></p>
                <p>Email : <%= contact.email %></p>
                <p>Tel : <%= contact.phone %></p>
            </div>
        
            <% if (contact.favori) { %>
                <div>
                    <p>⭐</p>
                    <!-- <img src="../../public/images/etoile.png" alt="Image d'étoile"> -->
                </div>
            <% } %>
        </div>        
    <% } %>
    
    
    <a href="/contact/add">Ajouter un contact</a>
</main>

<%- include('../shared/footer') %>