
<%- include('../shared/header') %>

<main>
    <h1>Voici la liste des messages : ✉</h1>
    <!-- <div>Todo : Afficher la liste</div> -->
    <% for (const message of messages) { %>
        <div class="card message-card">
            <h2 class="<%= message.urgent ? 'urgent' : '' %>">
                <%= message.title %>
            </h2>
            <p><%= message.msg %></p>
            <p><%= message.author %></p>
        </div>
    <% } %>
    <div class="add">
        <a href="/message/add">Ajouter un message</a>
    </div>
</main>

<%- include('../shared/footer') %>